[submodule "libft"]
	path = libft
	url = https://github.com/maitreverge/libft
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/maitreverge/ft_printf
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/maitreverge/get_next_line
