[submodule "libft"]
	path = libft
	url = https://github.com/maitreverge/libft
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/maitreverge/ft_printf
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/maitreverge/get_next_line
[submodule "fract-ol"]
	path = fract-ol
	url = https://github.com/maitreverge/fract-ol
[submodule "pipex"]
	path = pipex
	url = https://github.com/maitreverge/pipex
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/maitreverge/push_swap
[submodule "minishell"]
	path = minishell
	url = https://github.com/maitreverge/minishell
[submodule "philosophers"]
	path = philosophers
	url = https://github.com/maitreverge/philosophers
